[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
resend = "==2.4.0"

[dev-packages]
pytest = "*"
pytest-cov = "*"
black = "*"
flake8 = "*"
isort = "*"
pre-commit = "*"
boto3 = "*"
moto = {extras = ["all"], version = "*"}
pytest-env = "*"

[requires]
python_version = "3.11"
