# Keep this file in sync with the requirements in pipenv configuration.
# It is necessary for projects that use pip-compile to pin the dependencies
# to the versions specified in this file.
# All libraries specified here will be deployed in the AWS environment. 